In [10]:
import pandas as pd
import numpy as np
df = pd.read_csv('ch2_train.csv')
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dyn</th>
      <th>ip</th>
      <th>eax</th>
      <th>ecx</th>
      <th>[i]</th>
      <th>[a]</th>
      <th>[b]</th>
      <th>[sum]</th>
      <th>[d]</th>
      <th>result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>20794883</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>20794887</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>20794889</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>19746323</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>20794902</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>20794906</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>20794912</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>20794915</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>12</td>
      <td>20794921</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>13</td>
      <td>20794927</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>20794930</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>20794936</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>16</td>
      <td>20794939</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>17</td>
      <td>20794942</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>18</td>
      <td>20794945</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>19</td>
      <td>20794948</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>21</td>
      <td>20794883</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>22</td>
      <td>20794887</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>23</td>
      <td>20794889</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>26</td>
      <td>19746323</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>27</td>
      <td>20794902</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>28</td>
      <td>20794906</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>29</td>
      <td>20794912</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>30</td>
      <td>20794915</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>31</td>
      <td>20794921</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>32</td>
      <td>20794927</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>33</td>
      <td>20794930</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>34</td>
      <td>20794936</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>35</td>
      <td>20794939</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>36</td>
      <td>20794942</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>37</td>
      <td>20794945</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>38</td>
      <td>20794948</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
df.fillna(0, inplace=True)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dyn</th>
      <th>ip</th>
      <th>eax</th>
      <th>ecx</th>
      <th>[i]</th>
      <th>[a]</th>
      <th>[b]</th>
      <th>[sum]</th>
      <th>[d]</th>
      <th>result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>20794883</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>20794887</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>20794889</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7</td>
      <td>19746323</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>8</td>
      <td>20794902</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>9</td>
      <td>20794906</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>10</td>
      <td>20794912</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>11</td>
      <td>20794915</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>12</td>
      <td>20794921</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>13</td>
      <td>20794927</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>14</td>
      <td>20794930</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>20794936</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>16</td>
      <td>20794939</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>17</td>
      <td>20794942</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>18</td>
      <td>20794945</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>19</td>
      <td>20794948</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>21</td>
      <td>20794883</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>22</td>
      <td>20794887</td>
      <td>3435973836</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>23</td>
      <td>20794889</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>26</td>
      <td>19746323</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>27</td>
      <td>20794902</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>28</td>
      <td>20794906</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>29</td>
      <td>20794912</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>30</td>
      <td>20794915</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>31</td>
      <td>20794921</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>32</td>
      <td>20794927</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>33</td>
      <td>20794930</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>34</td>
      <td>20794936</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>35</td>
      <td>20794939</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>36</td>
      <td>20794942</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>37</td>
      <td>20794945</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>38</td>
      <td>20794948</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>4</td>
      <td>4.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
</div>

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dyn</th>
      <th>ip</th>
      <th>eax</th>
      <th>ecx</th>
      <th>[i]</th>
      <th>[a]</th>
      <th>[b]</th>
      <th>[sum]</th>
      <th>[d]</th>
      <th>result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>20794883</td>
      <td>3.435974e+09</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>20794887</td>
      <td>3.435974e+09</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>20794889</td>
      <td>3.435974e+09</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>20794892</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>117247020</td>
      <td>0.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>19746323</td>
      <td>0.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>20794902</td>
      <td>0.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>20794906</td>
      <td>0.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>20794912</td>
      <td>0.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>20794915</td>
      <td>1.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>20794921</td>
      <td>2.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>20794927</td>
      <td>2.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>20794930</td>
      <td>1.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>20794936</td>
      <td>2.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>20794939</td>
      <td>2.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>20794942</td>
      <td>0.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>20794945</td>
      <td>1.000000e+00</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>20794948</td>
      <td>1.000000e+00</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>20794883</td>
      <td>3.435974e+09</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>20794887</td>
      <td>3.435974e+09</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>20794889</td>
      <td>1.000000e+00</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>20794892</td>
      <td>1.000000e+00</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>117247020</td>
      <td>1.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>19746323</td>
      <td>1.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>20794902</td>
      <td>1.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>20794906</td>
      <td>1.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>20794912</td>
      <td>1.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>20794915</td>
      <td>2.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>20794921</td>
      <td>4.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>32</td>
      <td>20794927</td>
      <td>4.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>33</td>
      <td>20794930</td>
      <td>2.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>20794936</td>
      <td>4.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>35</td>
      <td>20794939</td>
      <td>4.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>36</td>
      <td>20794942</td>
      <td>1.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>37</td>
      <td>20794945</td>
      <td>2.000000e+00</td>
      <td>2.0</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>38</td>
      <td>20794948</td>
      <td>2.000000e+00</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>2.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [73]:
a = np.random.choice(3,4)
a
pb = 0.5
mask = 0

for i in range (0, 31):
    if np.random.random() < pb:
        mask = (mask | 1) << 1
    else:
        mask = mask << 1
if np.random.random() < pb:
    mask = mask | 1
print(bin(mask))

0b10100110001001101100010001010100

In [93]:
import random
VALID_BITS = 32
BOUND_LOW, BOUND_UP = -2**VALID_BITS-1, 2**VALID_BITS - 1
random.randint(BOUND_LOW, BOUND_UP)

-1194904489

In [3]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('machine_states.csv')
df2 = pd.read_csv('fi_results.out', sep=' ')

In [5]:
df1

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dyn</th>
      <th>ip</th>
      <th>REG_RDI</th>
      <th>REG_RSI</th>
      <th>REG_RBP</th>
      <th>REG_RSP</th>
      <th>REG_RBX</th>
      <th>REG_RDX</th>
      <th>REG_RCX</th>
      <th>REG_RAX</th>
      <th>...</th>
      <th>index_reg_2</th>
      <th>scale_2</th>
      <th>memwrite_addr</th>
      <th>read_size</th>
      <th>mem_val</th>
      <th>displacement</th>
      <th>base_reg</th>
      <th>index_reg</th>
      <th>scale</th>
      <th>Unnamed: 39</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>4196240</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>4196512</td>
      <td>140724770315096</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>4196240</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315088</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>4196241</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>4196512</td>
      <td>140724770315088</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>4196240</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>4196244</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>140724770315088</td>
      <td>140724770315088</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>4196240</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>4196248</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>4196240</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315084</td>
      <td>4</td>
      <td>0</td>
      <td>4294967292</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>4196255</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>4196240</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315080</td>
      <td>4</td>
      <td>0</td>
      <td>4294967288</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>4196258</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>4196240</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315072</td>
      <td>8</td>
      <td>140724770315312</td>
      <td>4294967280</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>4196262</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>4196240</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>4196266</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>4196240</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>4196270</td>
      <td>2</td>
      <td>140724770315320</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770315320</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>4196274</td>
      <td>2</td>
      <td>140724770324037</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770315320</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>4196278</td>
      <td>2</td>
      <td>140724770324037</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770324037</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>4196281</td>
      <td>140724770324037</td>
      <td>140724770324037</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770324037</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315048</td>
      <td>8</td>
      <td>0</td>
      <td>4294967256</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>4196285</td>
      <td>140724770324037</td>
      <td>140724770324037</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770324037</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>4196288</td>
      <td>140724770324037</td>
      <td>140724770324037</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770324037</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315000</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>4196293</td>
      <td>140724770324037</td>
      <td>140724770324037</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770324037</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>4196297</td>
      <td>140724770324037</td>
      <td>140724770324037</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770324037</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>4196299</td>
      <td>140724770324037</td>
      <td>140724770324037</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>140724770315344</td>
      <td>288</td>
      <td>140724770323968</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315000</td>
      <td>8</td>
      <td>4196293</td>
      <td>0</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>4196304</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>0</td>
      <td>140724770324037</td>
      <td>6</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315060</td>
      <td>4</td>
      <td>0</td>
      <td>4294967268</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>4196307</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>0</td>
      <td>140724770324037</td>
      <td>6</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315064</td>
      <td>4</td>
      <td>4195984</td>
      <td>4294967272</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>4196314</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>0</td>
      <td>140724770324037</td>
      <td>6</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315068</td>
      <td>4</td>
      <td>0</td>
      <td>4294967276</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>4196321</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>0</td>
      <td>140724770324037</td>
      <td>6</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>4196324</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>0</td>
      <td>140724770324037</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>4196327</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>4196330</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>4196333</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>4196335</td>
      <td>140724770324038</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>4196339</td>
      <td>140724770323969</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>4196341</td>
      <td>140724770323969</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>4196345</td>
      <td>140724770323969</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>4196349</td>
      <td>140724770323969</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>255</th>
      <td>255</td>
      <td>4196324</td>
      <td>7</td>
      <td>7</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>256</th>
      <td>256</td>
      <td>4196327</td>
      <td>7</td>
      <td>7</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>257</th>
      <td>257</td>
      <td>4196330</td>
      <td>7</td>
      <td>7</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>258</th>
      <td>258</td>
      <td>4196333</td>
      <td>7</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>259</th>
      <td>259</td>
      <td>4196335</td>
      <td>7</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>260</th>
      <td>260</td>
      <td>4196339</td>
      <td>0</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>261</th>
      <td>261</td>
      <td>4196341</td>
      <td>0</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>262</th>
      <td>262</td>
      <td>4196345</td>
      <td>0</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>7</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>263</th>
      <td>263</td>
      <td>4196349</td>
      <td>0</td>
      <td>6</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>264</th>
      <td>264</td>
      <td>4196353</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315047</td>
      <td>1</td>
      <td>1</td>
      <td>4294967255</td>
      <td>5</td>
      <td>0</td>
      <td>1</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>265</th>
      <td>265</td>
      <td>4196357</td>
      <td>0</td>
      <td>0</td>
      <td>140724770315088</td>
      <td>140724770315008</td>
      <td>0</td>
      <td>6</td>
      <td>7</td>
      <td>0</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>

In [7]:
df2

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>num</th>
      <th>dyn</th>
      <th>ip</th>
      <th>reg</th>
      <th>bit</th>
      <th>left</th>
      <th>right</th>
      <th>result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>4</td>
      <td>4196255</td>
      <td>3</td>
      <td>-2</td>
      <td>0</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>13</td>
      <td>4196288</td>
      <td>3</td>
      <td>-2</td>
      <td>11</td>
      <td>13</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>16</td>
      <td>4196299</td>
      <td>3</td>
      <td>-2</td>
      <td>15</td>
      <td>16</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>28</td>
      <td>4196345</td>
      <td>3</td>
      <td>-2</td>
      <td>26</td>
      <td>28</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>30</td>
      <td>4196353</td>
      <td>3</td>
      <td>-2</td>
      <td>29</td>
      <td>30</td>
      <td>4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>32</td>
      <td>4196359</td>
      <td>3</td>
      <td>-2</td>
      <td>32</td>
      <td>32</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>45</td>
      <td>4196401</td>
      <td>3</td>
      <td>-2</td>
      <td>43</td>
      <td>45</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>55</td>
      <td>4196436</td>
      <td>3</td>
      <td>-2</td>
      <td>53</td>
      <td>55</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>67</td>
      <td>4196345</td>
      <td>3</td>
      <td>-2</td>
      <td>65</td>
      <td>67</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>69</td>
      <td>4196353</td>
      <td>3</td>
      <td>-2</td>
      <td>68</td>
      <td>69</td>
      <td>4</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>71</td>
      <td>4196359</td>
      <td>3</td>
      <td>-2</td>
      <td>71</td>
      <td>71</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>84</td>
      <td>4196401</td>
      <td>3</td>
      <td>-2</td>
      <td>82</td>
      <td>84</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>94</td>
      <td>4196436</td>
      <td>3</td>
      <td>-2</td>
      <td>92</td>
      <td>94</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>106</td>
      <td>4196345</td>
      <td>3</td>
      <td>-2</td>
      <td>104</td>
      <td>106</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>108</td>
      <td>4196353</td>
      <td>3</td>
      <td>-2</td>
      <td>107</td>
      <td>108</td>
      <td>4</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>110</td>
      <td>4196359</td>
      <td>3</td>
      <td>-2</td>
      <td>110</td>
      <td>110</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>123</td>
      <td>4196401</td>
      <td>3</td>
      <td>-2</td>
      <td>121</td>
      <td>123</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>133</td>
      <td>4196436</td>
      <td>3</td>
      <td>-2</td>
      <td>131</td>
      <td>133</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>145</td>
      <td>4196345</td>
      <td>3</td>
      <td>-2</td>
      <td>143</td>
      <td>145</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>147</td>
      <td>4196353</td>
      <td>3</td>
      <td>-2</td>
      <td>146</td>
      <td>147</td>
      <td>4</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>149</td>
      <td>4196359</td>
      <td>3</td>
      <td>-2</td>
      <td>149</td>
      <td>149</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>162</td>
      <td>4196401</td>
      <td>3</td>
      <td>-2</td>
      <td>160</td>
      <td>162</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>172</td>
      <td>4196436</td>
      <td>3</td>
      <td>-2</td>
      <td>170</td>
      <td>172</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>184</td>
      <td>4196345</td>
      <td>3</td>
      <td>-2</td>
      <td>182</td>
      <td>184</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>186</td>
      <td>4196353</td>
      <td>3</td>
      <td>-2</td>
      <td>185</td>
      <td>186</td>
      <td>4</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>188</td>
      <td>4196359</td>
      <td>3</td>
      <td>-2</td>
      <td>188</td>
      <td>188</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>201</td>
      <td>4196401</td>
      <td>3</td>
      <td>-2</td>
      <td>199</td>
      <td>201</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>211</td>
      <td>4196436</td>
      <td>3</td>
      <td>-2</td>
      <td>209</td>
      <td>211</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>223</td>
      <td>4196345</td>
      <td>3</td>
      <td>-2</td>
      <td>221</td>
      <td>223</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>225</td>
      <td>4196353</td>
      <td>3</td>
      <td>-2</td>
      <td>224</td>
      <td>225</td>
      <td>4</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>198</th>
      <td>198</td>
      <td>112</td>
      <td>4196368</td>
      <td>11</td>
      <td>-2</td>
      <td>112</td>
      <td>112</td>
      <td>4</td>
    </tr>
    <tr>
      <th>199</th>
      <td>199</td>
      <td>146</td>
      <td>4196349</td>
      <td>11</td>
      <td>-2</td>
      <td>145</td>
      <td>146</td>
      <td>1</td>
    </tr>
    <tr>
      <th>200</th>
      <td>200</td>
      <td>151</td>
      <td>4196368</td>
      <td>11</td>
      <td>-2</td>
      <td>151</td>
      <td>151</td>
      <td>4</td>
    </tr>
    <tr>
      <th>201</th>
      <td>201</td>
      <td>185</td>
      <td>4196349</td>
      <td>11</td>
      <td>-2</td>
      <td>184</td>
      <td>185</td>
      <td>1</td>
    </tr>
    <tr>
      <th>202</th>
      <td>202</td>
      <td>190</td>
      <td>4196368</td>
      <td>11</td>
      <td>-2</td>
      <td>190</td>
      <td>190</td>
      <td>4</td>
    </tr>
    <tr>
      <th>203</th>
      <td>203</td>
      <td>224</td>
      <td>4196349</td>
      <td>11</td>
      <td>-2</td>
      <td>223</td>
      <td>224</td>
      <td>1</td>
    </tr>
    <tr>
      <th>204</th>
      <td>204</td>
      <td>229</td>
      <td>4196368</td>
      <td>11</td>
      <td>-2</td>
      <td>229</td>
      <td>229</td>
      <td>4</td>
    </tr>
    <tr>
      <th>205</th>
      <td>205</td>
      <td>263</td>
      <td>4196349</td>
      <td>11</td>
      <td>-2</td>
      <td>262</td>
      <td>263</td>
      <td>1</td>
    </tr>
    <tr>
      <th>206</th>
      <td>206</td>
      <td>268</td>
      <td>4196368</td>
      <td>11</td>
      <td>-2</td>
      <td>268</td>
      <td>268</td>
      <td>4</td>
    </tr>
    <tr>
      <th>207</th>
      <td>207</td>
      <td>25</td>
      <td>4196335</td>
      <td>25</td>
      <td>-2</td>
      <td>25</td>
      <td>25</td>
      <td>2</td>
    </tr>
    <tr>
      <th>208</th>
      <td>208</td>
      <td>27</td>
      <td>4196341</td>
      <td>25</td>
      <td>-2</td>
      <td>27</td>
      <td>27</td>
      <td>2</td>
    </tr>
    <tr>
      <th>209</th>
      <td>209</td>
      <td>35</td>
      <td>4196372</td>
      <td>25</td>
      <td>-2</td>
      <td>35</td>
      <td>35</td>
      <td>2</td>
    </tr>
    <tr>
      <th>210</th>
      <td>210</td>
      <td>64</td>
      <td>4196335</td>
      <td>25</td>
      <td>-2</td>
      <td>64</td>
      <td>64</td>
      <td>2</td>
    </tr>
    <tr>
      <th>211</th>
      <td>211</td>
      <td>66</td>
      <td>4196341</td>
      <td>25</td>
      <td>-2</td>
      <td>66</td>
      <td>66</td>
      <td>2</td>
    </tr>
    <tr>
      <th>212</th>
      <td>212</td>
      <td>74</td>
      <td>4196372</td>
      <td>25</td>
      <td>-2</td>
      <td>74</td>
      <td>74</td>
      <td>2</td>
    </tr>
    <tr>
      <th>213</th>
      <td>213</td>
      <td>103</td>
      <td>4196335</td>
      <td>25</td>
      <td>-2</td>
      <td>103</td>
      <td>103</td>
      <td>2</td>
    </tr>
    <tr>
      <th>214</th>
      <td>214</td>
      <td>105</td>
      <td>4196341</td>
      <td>25</td>
      <td>-2</td>
      <td>105</td>
      <td>105</td>
      <td>2</td>
    </tr>
    <tr>
      <th>215</th>
      <td>215</td>
      <td>113</td>
      <td>4196372</td>
      <td>25</td>
      <td>-2</td>
      <td>113</td>
      <td>113</td>
      <td>2</td>
    </tr>
    <tr>
      <th>216</th>
      <td>216</td>
      <td>142</td>
      <td>4196335</td>
      <td>25</td>
      <td>-2</td>
      <td>142</td>
      <td>142</td>
      <td>2</td>
    </tr>
    <tr>
      <th>217</th>
      <td>217</td>
      <td>144</td>
      <td>4196341</td>
      <td>25</td>
      <td>-2</td>
      <td>144</td>
      <td>144</td>
      <td>2</td>
    </tr>
    <tr>
      <th>218</th>
      <td>218</td>
      <td>152</td>
      <td>4196372</td>
      <td>25</td>
      <td>-2</td>
      <td>152</td>
      <td>152</td>
      <td>2</td>
    </tr>
    <tr>
      <th>219</th>
      <td>219</td>
      <td>181</td>
      <td>4196335</td>
      <td>25</td>
      <td>-2</td>
      <td>181</td>
      <td>181</td>
      <td>2</td>
    </tr>
    <tr>
      <th>220</th>
      <td>220</td>
      <td>183</td>
      <td>4196341</td>
      <td>25</td>
      <td>-2</td>
      <td>183</td>
      <td>183</td>
      <td>2</td>
    </tr>
    <tr>
      <th>221</th>
      <td>221</td>
      <td>191</td>
      <td>4196372</td>
      <td>25</td>
      <td>-2</td>
      <td>191</td>
      <td>191</td>
      <td>2</td>
    </tr>
    <tr>
      <th>222</th>
      <td>222</td>
      <td>220</td>
      <td>4196335</td>
      <td>25</td>
      <td>-2</td>
      <td>220</td>
      <td>220</td>
      <td>2</td>
    </tr>
    <tr>
      <th>223</th>
      <td>223</td>
      <td>222</td>
      <td>4196341</td>
      <td>25</td>
      <td>-2</td>
      <td>222</td>
      <td>222</td>
      <td>2</td>
    </tr>
    <tr>
      <th>224</th>
      <td>224</td>
      <td>230</td>
      <td>4196372</td>
      <td>25</td>
      <td>-2</td>
      <td>230</td>
      <td>230</td>
      <td>2</td>
    </tr>
    <tr>
      <th>225</th>
      <td>225</td>
      <td>259</td>
      <td>4196335</td>
      <td>25</td>
      <td>-2</td>
      <td>259</td>
      <td>259</td>
      <td>2</td>
    </tr>
    <tr>
      <th>226</th>
      <td>226</td>
      <td>261</td>
      <td>4196341</td>
      <td>25</td>
      <td>-2</td>
      <td>261</td>
      <td>261</td>
      <td>2</td>
    </tr>
    <tr>
      <th>227</th>
      <td>227</td>
      <td>269</td>
      <td>4196372</td>
      <td>25</td>
      <td>-2</td>
      <td>269</td>
      <td>269</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
<p>228 rows  8 columns</p>
</div>

In [24]:
result = pd.concat([df1, df2], axis=1, join='inner')

In [26]:
result.shape

(228, 48)

In [28]:
cols = list(result)
nunique = result.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index

In [30]:
cols_to_drop

Index(['REG_RBX', 'REG_SEG_CS', 'REG_SEG_SS', 'REG_SEG_DS', 'REG_SEG_ES',
       'REG_SEG_FS', 'REG_SEG_GS', 'index_reg_1', 'memread_addr_2',
       'read_size_2', 'mem_val_2', 'displacement_2', 'base_reg_2',
       'index_reg_2', 'scale_2', 'index_reg', 'bit'],
      dtype='object')

In [40]:
newresult = result.drop(cols_to_drop, axis=1)
newresult.to_csv('newresult.csv')

In [43]:
from configuration import Config
x_all = newresult.drop(Config.LABELS, axis=1)
y_all = newresult[:][Config.LABELS]

In [45]:
x_all.to_csv('x_all.csv')
y_all.to_csv('y_all.csv')

In [49]:
import numpy as np
mask = np.uint64(0)
one = np.uint64(1)
mask = mask | one

In [51]:
mask

1

In [3]:
a = list(range(0, 100))
import numpy as np
np.random.permutation(100)

array([52, 84, 92, 27, 67, 72, 63,  2, 91, 80,  1, 45,  4, 61, 74, 59, 66,
       33, 15, 46, 24, 82, 83, 51, 26,  6, 31, 43, 88, 29, 49, 68, 99, 53,
       65,  7, 23, 75, 47, 85, 18, 98, 64, 41, 17, 11, 13, 34, 62, 10, 19,
       32, 93, 50, 78, 30, 22,  8, 55, 76, 25, 71, 96, 21, 38, 81, 58, 87,
       54, 86, 39, 77, 73, 95, 57, 89, 79, 37,  5, 94, 20, 28, 56, 70, 42,
       36, 35,  0, 40, 48, 44, 97, 60,  3, 14, 16, 69, 12,  9, 90])